@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
    font-family: "Space Grotesk";
    font-weight: 200;
    src: url("/fonts/space-grotesk.ttf") format("truetype");
}

@font-face {
    font-family: "Space Grotesk";
    font-weight: 400;
    src: url("/fonts/space-grotesk.ttf") format("truetype");
}

@font-face {
    font-family: "Space Grotesk";
    font-weight: 600;
    src: url("/fonts/space-grotesk.ttf") format("truetype");
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

.flashhits {
    animation: slideDown 0.3s ease-out forwards;
    left: 50%;
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }

    to {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
    }
}

.flashhide {
    animation: slideUp 0.3s ease-out forwards;
    left: 50%;
}

.while-submitting {
    display: none;
}

.inputs {
    display: block;
}

.phx-submit-loading .while-submitting {
    display: block;
}

.phx-submit-loading .inputs {
    display: none;
}

.fancy-background {
    background: linear-gradient(to right,
            #ffa500,
            /* Orange */
            #ff7f50,
            /* Coral */
            #ff4500,
            /* Red-Orange */
            #ff6347,
            /* Tomato */
            #ff4500);
    /* Red */
    background-size: 400% 400%;
    animation: GradientAnimate 15s ease infinite;
}


.fancy-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: 1;
}

@keyframes GradientAnimate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}